/*
Modular design
*/
@import url('./assets/css/askingForm.css');
@import url('./assets/css/createStudent.css');
@import url('./assets/css/navbar.css');
@import url('./assets/css/home.css');
@import url('./assets/css/studentList.css');
/*
Set global statement for each box and also setting a font global family
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*
Main cointainer
*/
.body-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #1a1a1a;
}
/*
Set global statement for each input(To save time, this is typically not a good idea )
*/
input{
  height: 2rem;
  width: 80%;
  border: solid #0b7cbe .1rem;
  padding: .6rem;
  border-radius: .3rem;
  position: relative;
  animation: slide 2 s infinite;

}
input:hover{
  background-color: #4b77914e;
  border:solid #be970b .17rem;
}
button{
  width: 7rem;
  height: 3rem;
  border-radius: .3rem;
  color: #fff;
  background-color: #0b7cbe;
  cursor: pointer;
}
a{
  text-decoration:none;
}